.menuRegularButton {
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Examples%20&%20Extras/Fonts/Electronic%20Highway%20Sign.TTF?fileID=12800000&guid=8a2b9e2a607dd2143b58c44bc32410b4&type=3#Electronic Highway Sign");
    font-size: 50px;
    color: rgb(255, 255, 255);
    -unity-text-outline-width: 1px;
    text-shadow: 2px 2px 0 rgb(51, 51, 51);
    background-image: url("project://database/Assets/Sprites/UI/button_rectangle_gloss.png?fileID=2800000&guid=78a374fbf1d5a93448937b925cddc121&type=3#button_rectangle_gloss");
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-size: 100% 100%;
    width: 400px;
    height: 93px;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    opacity: 1;
    display: flex;
    overflow: visible;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0);
    -unity-font-style: normal;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.centerPanel {
    width: 432px;
}
